{% extends 'base.html' %}
{% block content %}

     <h3>{{ title|capfirst }}</h3>
     <p>{{ url }}</p>


<ul class="list-articles">
     {% for post in posts %}
             <li>
                 <div class="article-panel">
                     <p class="first">Category: {{ post.cat }}</p>
                     <p class="last">Date: {{ post.time_update }}</p>
                 </div>
                  <h3> {{ post.title }} </h3>
                  <p> {{ post.content|truncatewords:50 }} </p>
                 <div class="clear"></div>
                 <p class="link-read-post"> <a href="{{ post.get_absolute_url }}"> Read more </a></p>
             </li>
            {% if not forloop.last %}
                <hr>

             {% endif %}
     {% endfor %}
</ul>

{% include 'goddesses/includes/nav.html' %}

{% endblock %}
