{% extends 'base.html' %}
{% block content %}

     <h3>{{ title|capfirst }}</h3>
     <p>{{ url }}</p>

{% include 'goddesses/includes/nav.html' %}

<ul class="list-articles">
     {% for post in posts %}
         {% if post.is_published %}
             <li>
                  <h3> {{ post.name }} </h3>
                  <p> {{ post.content|truncatewords:50 }} </p>   {% comment %} |linebreaks| {% endcomment %}
                 <div class="clear"></div>
                 <p class="link-read-post"> <a href="{% url 'post' post.id %}"> Read more </a></p>
             </li>
            {% if not forloop.last %}
         <hr>
         {% endif %}
             {% endif %}
     {% endfor %}
</ul>

{% include 'goddesses/includes/nav.html' %}

{% endblock %}
